body {
	background:#000000;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.brandon {
	font-family: "brandon-grotesque", helvetica, sans-serif;
}

.font-300 {
	font-weight: 300;
}

.font-400 {
	font-weight: 400;
}

.font-500 {
	font-weight: 500;
}

.font-600 {
	font-weight: 600;
}

.main-container {
	padding-top:96px;
}

.page-content {
	padding-top:21px;
	background-color:#ffffff;
	box-shadow:inset 0px 2px 1.5px rgba(0,0,0,.22),0px 2px 2.5px rgba(0,0,0,.14)
}

.courses-page {
	padding-top:127px;
}

.signupbreaker {
	background: #dddddd;
	padding:20px 0px;
}

.subcontainer {
	width:700px;
	margin: 0 auto;
}

.subcontainer p {
	margin:0;
	float: left;
	font-family: "brandon-grotesque", helvetica, sans-serif;
}

.subcontainer a {
	color:#000000;
	text-decoration: none
}

.subcontainer-copy {
	padding-top: 9px;
	font-size:20px;
}

.subcontainer p:first-of-type {
	
}

.subcontainer-signup {
	border:2px solid #666666;
	background:transparent;
	padding:10px 17px;
	font-weight:500;
	border-radius:70px;
	margin-left:20px !important;
	text-align:center;
	box-shadow: 0px 1px 1.5px rgba(0,0,0,.2), 0px 1px 1.5px rgba(0,0,0,.24);
	transition: background .6s, color .6s;
	-webkit-transition:background .6s, color .6s;
}

.subcontainer-signup:hover {
	background:rgba(0,0,0,.9) !important;
	color:#ffffff !important;
}

header {
	background:#000000;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position: fixed;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,.15);
	border-top: 4px solid #0aa4ee;
	z-index: 1000;
}

.header-container {
	margin:0 auto;
	width:1050px;
}

.header-content {
	padding: 10px ;
}

.logo {
	float:left;
}

.clearfix {
	clear:both;
}

.main-nav li {
	display: inline;
	color:#ffffff;
	font-weight: 200;
	margin-right:40px;
	font-size: 16px;
	transition:all .3s;
	-webkit-transition: all .3s;
font-family: "brandon-grotesque", helvetica, sans-serif;
	
}

.main-nav li a {
	text-decoration: none;
	color:#ffffff;
	font-weight: 300;
	transition:all .35s;
	-webkit-transition: all .35s;
	font-family: "brandon-grotesque", helvetica, sans-serif;

}

.main-nav li a:hover {
	color:#00a4e7;
}

.nav-container {
	float: right;
	padding-top:12px;
}

.content-container {
	width:900px;
	margin: 0 auto;
	padding-top:85px;
}

.hero {
	margin:0;
	font-size:40px;
	text-align: center;
	color:#ffffff;
	text-transform: uppercase;
}

.content-hero {
	background: #000000 url('../img/bg.jpg') no-repeat;
	height:400px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  
  /* This is what makes the background image rescale based
     on the container's size */
  
}

.content-button {
	width:240px;
	margin:0 auto;
	padding-top:20px;
}

.content-button a {
	text-decoration: none;
}

.view-courses-button {
	cursor:pointer;
	background: rgba(0, 172, 0, .0);
	padding:17px 25px;
	text-align: center;
	font-size:18px;
	color:#ffffff;
	width:200px;
	font-family: 'brandon-grotesque', helvetica, sans-serif;
	transition:all .3s;
	-webkit-transition: all .3s;
	
	text-shadow:rgba(0,0,0,.4) 1px 1px 1px;
	border-radius:75px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.7);
	border:3px solid rgba(0, 226, 0, 0.9);
}

.view-courses-button:hover {
	background: rgba(0, 172, 0, 1);
}

.teach-button {
	float: right;
	padding-right: 12px;
	margin-top: 1px;
}

.teach-button a {
	text-decoration: none;
}

.teach-button p {
	cursor:pointer;
	background: rgba(0,159,254, .0);
	border-radius: 30px;
	text-shadow:rgba(0,0,0,.4) 1px 1px 1px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'brandon-grotesque', helvetica, sans-serif;
	padding: 10px 26px;
	transition:background .5s, color .5s;
	-webkit-transition: background .5s, color: .5s;
	border:	3px solid rgba(0,159,254, 1)
}

.teach-button p:hover {
	background: rgb(0, 132, 211);
}

.home-content-1 {
	width:900px;
	margin:0 auto;
	padding: 0px 0px;
}

.headline {
	font-family: 'brandon-grotesque', helvetica, sans-serif;
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 0px;
	margin-top: 7px;
}

.sub-headline {
	font-size:24px;
	font-family: 'brandon-grotesque', helvetica, sans-serif;
	margin-top:0px;
	margin-bottom:17px;
}

.mylink {
	color:#0aa4ee;
	text-decoration: none;
}

.quotecontainer {
	background:#F6F6F6;

}

.quote {
	width:800px;
	margin:0 auto;
	padding: 40px;
}

.quote p {
	text-align: center;
	color:#0aa4ee;
	font-size:32px;
	font-family: 'brandon-grotesque', helvetica, sans-serif;
}

.class-class {
	float: right;
width: 597px;

}

.class-pic {
	float:left;
}

.pic-one {
	padding-left:22px;
}

.pic-two {
	padding-left:22px;
}

.pic-three {
	padding-left:15px;
}

.class-holder-container {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	padding-top:20px;
}

.class-holder {
	height: 250px;
	margin-top: 21px;
	padding:20px;
	padding-bottom: 20px;
	transition: background .6s;
	-webkit-transition: background .6s;
}


.class-holder:hover {
	background-color: #F3F3F3;	
}

.class-holder:nth-of-type(1) {
	margin-top: 0px !important;
}

.linktoclassbutton a {
	text-decoration: none;
}

.linktoclassbutton p {
	border-radius: 70px;
background: transparent;
border: 2px solid black;
width: 150px;
color: #666;
text-align: center;
padding: 10px 0px;
font-weight: 400;
margin:0;
box-shadow: 0px 1px 1.5px rgba(0,0,0,.2), 0px 1px 1.5px rgba(0,0,0,.24);
transition: background .6s, color .6s;
-webkit-transition: background .6s, color:.6s;
}

.linktoclassbutton p:hover {
	background:rgba(0,0,0,.9);
	color:#ffffff;
}

footer {
	height:200px;
	width:100%;
	background: #222222;
	border-top: 5px solid #009EFD
}

.footer-container {
	width:900px;
	padding-top:60px;
	margin:0 auto;
}

.footercopy {
	color:#ffffff;
	font-weight:200;
	font-family: 'brandon-grotesque', helvetica, sans-serif;
	padding-left:20px;
	margin-top:0px;
	font-size:14px;
}

/* **************************************** Mobile CSS ************************************/

.mobile-content {
	display: none;
}

.mymobile {
	display: none;
	position: fixed;
	width: 100%;
	background: rgba(0,0,0,1);
	padding-top:3px;
	padding-bottom:10px;
	z-index: 1000;
	box-shadow: 0px 1px 1px rgba(0,0,0,.3), 0px 1px 1.5px rgba(0,0,0,.4);
}

.mobile-hamburger {
	margin-top: 4px;
	margin-right: 24px;
	transition: opacity .6s;
	-webkit-transition: opacity .6s;
	cursor: pointer;
	position: fixed;
	z-index: 10000;
	top: 0px;
	display: none;
	right: 0px;
}

.mobile-hamburger img {
	width:55px;
	
}

.mobile-menu {
	position: fixed;
	padding-top: 10px;
	width:100%;
	background:#000000;	
	z-index: 9000;
	margin-top:-200px;
}

.mobileul ul {
	margin: 0;
	padding: 0;
}

.mobileul ul li {
	list-style:none;
	font-size:18px;
	font-weight: 300;
	text-align:center;
	color:#ffffff;
	font-family: 'brandon-grotesque', helvetica, sans-serif;
	padding: 10px 0px;
	transition: all .6s;
	-webkit-transition: all .6s;
}

.mobileul ul a {
	text-decoration: none;
}


/* ***************************************** Overlay Menu CSS *********************************** */

.overlay {
	width:100%;
	height:100%;
	background:rgba(0,0,0,.9);
	position: fixed;
	display: none;
	top:0px;
	z-index: 99999;
	left:0px;
	border-top: 1px solid rgba(255,255,255, .8);
}

.overlay-ul {
	padding:50px 0px 0px 0px;
	background:rgba(0,0,0,.9);
}

.overlay-ul li {
	list-style:none;
	font-size:34px;
	font-weight: 300;
	padding: 15px 0px;
	transition: all .6s;
	-webkit-transition: all .6s;
}

.overlay-content {
	width: 100%;
}

.overlay-ul li:hover {
	opacity:.75;
	background:#000000;
}

.overlay-ul a {
	text-decoration: none;

}

.overlay-ul a li {
	color:#ffffff;
	font-family: 'brandon-grotesque', helvetica, sans-serif;
	text-decoration: none;
	border-bottom:1px solid rgba(255,255,255,.2);
	text-align: center;
	text-align: center;
}

.close {
	position: absolute;
	right: 30px;
	top: 5px;
	cursor: pointer;
}

.close p {
	font-size:50px;
	color:#ffffff;
	margin:0;
	transition: all .6s;
	-webkit-transition: all .6s;
}

.close p:hover {
	opacity:.7;
}


/* ***************************************** Secondary CSS *********************************** */

/* Scroll CSS */

.header-scroll {
	background: rgba(0,0,0,1);
	position: fixed;
	width:100%;
	max-width: 100% !important;
	margin-top:-100px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.3), 0px 1px 1.5px rgba(0,0,0,.4);
}

.header-scroll-content {
	float:left;
}

.hamburger {
	float:right;
	margin-top: 7px;
	margin-right: 24px;
	transition: opacity .6s;
	-webkit-transition: opacity .6s;
	cursor: pointer;
}

.hamburger:hover {
	opacity: .8;
}

.hamburger img {
	width:60px;
	position: relative;
	z-index: 1000;
	display: block;
	-webkit-transform:translateZ(1px);
  -moz-transform:translateZ(1px);
  -o-transform:translateZ(1px);
  transform:translateZ(1px);
}

.header-scroll-container {
	padding-bottom:9px;
}

/* ***************************************** Media Queries *********************************** */

@media only screen and (min-width: 1000px) and (max-width: 1049px) { 

.header-container {
	width:1000px;
}

}

@media only screen and (min-width: 900px) and (max-width: 999px) { 

.header-container {
	width:900px ;
}

}


@media only screen and (min-width: 600px) and (max-width: 900px) { 

	.header-scroll {
		display: block ;
		margin-top:0px;
	}

	header {
		display: none;
	}

	.main-container {
		padding-top:71px;
	}

	.logo {
		width:200px;
		padding:7px;
	}

	.overlay {
		border: none;
	}
	
	.content-hero {
		height: auto;
	}

	.content-container {
		width: 100%;
		padding-top:20px;
	}

	.content-button {
		padding-top:0px;
		padding-bottom: 20px;
	}

}


@media only screen and (min-width:0px) and (max-width:760px) {
	.subcontainer-signup {
		margin-left:0 !important;
		float:none;
	}

	.subcontainer-signup-container {
		width: 165px;
		margin: 12px auto 16px;
	}

	.subcontainer p {
		float:none;
		text-align:center;
	}

	.signupbreaker {
		padding: 10px 0px;
	}

	.subcontainer {
		width: 100%;
	}

}

@media only screen and (min-width: 600px) and (max-width: 799px) { 
	
	.mobile-content {
		padding-top:90px !important; 
	}

}

@media only screen and (min-width: 0px) and (max-width: 599px) { 
	
	header {
		display: none;
	}
	
	.mobile-content {
		padding-top:80px !important;
	}

	.header-scroll {
		display: none ;
		
	}

	.header-mobile {

	}
	
	.mymobile {
		display: block;
	}

	.mobile-hamburger {
		display: block
	}

	.content-container {
		width: 100%;
		padding-top:15px;
	}

	.content-hero {
		height: auto;
		padding-bottom:10px;
	}

	.hero {
		font-size:24px;
	}

	.content-button {
		padding-top:0px;
	}
	
	.signupbreaker {
		padding: 5px 20px;
	}

	.subcontainer {
		width: 100%;
	}

	.subcontainer-copy {
		text-align: center;
	}
		
	.signupnow {
		width:145px;
		margin: 10px;
	}

	.subcontainer-signup-container {
		width:165px;
		margin: 12px auto 16px;
	}

	.subcontainer p {
		float: none;
	}

	.sucbcontainer-copy {
		float: none;
	}

	.footer-container {
		width: 230px;
	}

	.main-container {
		padding-top:67px;
	}

}


@media only screen and (min-width: 0px) and (max-width: 900px) { 

	.page-content {
		display: none;
	}
	
	.footer-container {
		width: 100%;
	}

	.footer-inner {
		margin:0 auto;
		width:230px;
	}

	.mobile-content {
		display: block;
		background:#ffffff;
		padding:12px;
	}


	.mobile-section-main {
		background: #F3F3F3;
		box-shadow: 0px 1px 1.5px rgba(0,0,0,.12),0px 1.5px 1.5px rgba(0,0,0,.24);
		margin-bottom:12px;

	}

	.mobile-class-holder {
		posiion:relative;
		padding-bottom:3px;
	}
	
	.mobile-class-title {
		margin: 0;
		padding: 12px 25px 0px 15px;
		font-size:22px;
		color:#0aa4ee;
		font-weight:500;
		font-family: "brandon-grotesque", helvetica, sans-serif;
		text-transform: uppercase;
		line-height:28px;
	}

	.mobile-class-copy {
		margin: 0;
		padding: 8px 15px 0px 15px;
		font-family: "brandon-grotesque", helvetica, sans-serif;
	}

	.mobile-class {
		position: relative;
		
	}

	.arrow-image {
		position: absolute;
		right: 0px;
	}

	.mobile-learnmore {
		padding: 15px 0px 15px 17px;
		background:#0aa4ee;
	}

	.mobile-learnmore p {
		color:#ffffff;
		margin: 0;
		text-transform: uppercase;
		font-family: "brandon-grotesque", helvetica, sans-serif;
	}

	.right-arrow-home {
		margin-right:15px !important;
	}
	
	.newbutton {
		margin:10px;
	}

	.newbutton p {
		background: transparent;
		color:black;
		font-family: "brandon-grotesque", helvetica, sans-serif;
		font-size:18px;
		border:1px solid black;
		border-bottom: 2px solid black;
		border-right:1px solid black;
		text-align:center;
		padding:11px;
		transition: background .5s, color .5s;
		-webkit-transition: background .5s, color .5s;
	}

	.newbutton p:hover {
		background:#000000;
		color:#ffffff;
	}
	
	.newbutton a {
		text-decoration: none;

	}

}
